<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{{ APP_NAME }}{% endblock %}</title>
</head>
<body>
	<body>
		<style>
			body {
				font-family: sans-serif;
				margin-top: 40px;
			}
			.container {
				max-width: 75rem;
  				margin: auto;
			}
			.error {
				color: firebrick;
			}
		</style>
		<div class="container">
			<h1>{{ APP_NAME }}</h1>
			<hr>
			{% block body %}{% endblock %}
		</div>
	</body>
	</html>
</body>
</html>
