<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OAuth Step 2</title>
</head>
<body>
	<h1>OAuth Step 2</h1>
	<p id="auth-action">Authenticating...</p>
	<script>
		const action = document.getElementById('auth-action');
		// get query string
		const queryString = window.location.search;
		// parse query string & get oauth code
		const urlParams = new URLSearchParams(queryString);
		const code = urlParams.get('code');
		// send code to API
		const data = {
			code: code
		};
		fetch('/rest-auth/google/login/', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken': '{{ csrf_token }}'
			},
			redirect: 'follow',
			body: JSON.stringify(data)
		})
		.then(response => {
			if (response.ok) {
				// authentication is successful, store token
				response.json().then(function storeToken(json) {
					document.cookie = 'token=' + json['key'] + ";path=/";
				});
				action.innerHTML = '<a href="/admin/">Go to Admin Panel</a>';
			} else {
				// auth failed
				action.innerHTML = 'An error occurred... Please <a href="/oauth/step1/">start over</a>';
			}
		});
	</script>
</body>
</html>
