<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OAuth Complete</title>
</head>
<body>
	<h1>OAuth Complete</h1>
	<div id="auth-action">Authenticating...</div>
	<script>
		const action = document.getElementById('auth-action');
		// get query string
		const queryString = window.location.search;
		// parse query string & get oauth code
		const urlParams = new URLSearchParams(queryString);
		const code = urlParams.get('code');
		// send code to API
		const data = {
			code: code
		};
		fetch('/rest-auth/google/login/', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				'X-CSRFToken': '{{ csrf_token }}'
			},
			redirect: 'follow',
			body: JSON.stringify(data)
		})
		.then(response => {
			if (response.ok) {
				// authentication is successful, store token
				const tokenPromise = response.json().then(function dealWithToken(json) {
					const token = json['key'];
					document.cookie = 'token=' + token + ";path=/";
					return token;
				});
				tokenPromise.then(function updatePage(token) {
					action.innerHTML = `
					<p>You're logged in! A session is created, and your API Token is <code>${token}</code>.
					<h3>Pages</h3>
					<ul>
					<li><a href="/docs/">API docs</a></li>
					<li><a href="/admin/">Admin Panel</a></li>
					</ul>
				`;
				})
			} else {
				// auth failed
				action.innerHTML = '<p>An error occurred... Please <a href="/oauth/step1/">start over</a></p>';
			}
		});
	</script>
</body>
</html>
